.badge {
    border: none;
    border-radius: 0.625rem;
    text-transform: capitalize;
    padding: 0.125rem 0.625rem;
    display: flex;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-light);
    color: var(--gray-900);
    width: fit-content;
  }