.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form__container {
  width: min(100%,40rem);
}

.inputs__container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(304px,1fr));
  gap:2rem;
}

.form__input {
  background-color: white;
  padding: 0.5rem 0.75rem;
  border-width: 0px;
  outline: 1px solid var(--gray-700);
  border-radius: 0.375rem;
  width: 100%;
}

.form__input:focus, .form__input:active {
  box-shadow: 0px 0px 0px 3px var(--green-600);
}

.form__input:required:invalid:focus {
  outline: 1px solid var(--red-500);
  box-shadow: none;
}

.input__label {
  color: var(--primary-darker);
  margin-bottom: 0.25rem;
}

.help-form__group {
  color: var(--primary-darker);
  margin: 2rem 0;
  align-self: baseline;
}

.help_option {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 0.625rem;
}

.help_option text {
  color: var(--gray-500)
}

form .button {
  width: 100%
}

.input__group {
  position: relative;
  display: flex;
  align-items: center;
}

.input__group svg {
  position: absolute;
  height: 14px;
  width: 10.67px;
  left: 0.92rem
}

.input__group .form__input {
  padding-left: 2.5rem;
}

form [type="checkbox"] {
  height: 1rem;
  width: 1rem;
  appearance: none;
  border-radius: 0.25rem;
  outline: 1px solid var(--gray-700);
}

form [type="checkbox"]:focus {
  box-shadow: 0px 0px 0px 3px var(--green-600);
}

form [type="checkbox"]:checked {
  background-color: var(--primary-dark);
  background-image: url('../images/check.svg');
  background-repeat: no-repeat;
  background-position: center center;
}